<meta name="viewport" content="width=device-width, initial-scale=1" /> 
<title>SMS Web App for SI</title>

<div id="main_text">
    <h1><br>SMS Web App</h1>
    <p>&nbsp Welcome! This web application allows you to send a text message to a given phone number.</p>
        
        
    <%= form_tag("/sms/send", method: "post") do %>
        &nbsp
        <%= label_tag(:q, "Phone #")%>
        <%= text_field_tag(:q) %>
        <br><br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <%= label_tag(:q, "Text")%>
        <%= text_field_tag(:q) %>
        <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <%= submit_tag("Submit") %>
    <% end %>
        
</div>